In [2]:
import pandas as pd
import numpy as np

In [4]:
Ne = pd.read_csv("Ne.txt", delimiter=",")

In [5]:
Ne

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,intens,Aki(s^-1),Acc,Ei(cm-1),...,conf_i,term_i,J_i,conf_k,term_k,J_k,Type,tp_ref,line_ref,Unnamed: 20
0,Ne,10,"=""""","=""""","=""0.936157861""","=""0.000000003""","=""""","=""1.9731e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""6p""","=""2P*""","=""3/2""",NaN,"=""T7771""","=""""",NaN
1,Ne,10,"=""""","=""""","=""0.936169779""","=""0.000000003""","=""""","=""1.9698e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""6p""","=""2P*""","=""1/2""",NaN,"=""T7771""","=""""",NaN
2,Ne,10,"=""""","=""""","=""0.948067037""","=""0.000000003""","=""""","=""3.4381e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""5p""","=""2P*""","=""3/2""",NaN,"=""T7771""","=""""",NaN
3,Ne,10,"=""""","=""""","=""0.948088161""","=""0.000000003""","=""""","=""3.4331e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""5p""","=""2P*""","=""1/2""",NaN,"=""T7771""","=""""",NaN
4,Ne,10,"=""""","=""""","=""0.970802754""","=""0.000000003""","=""""","=""6.8198e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""4p""","=""2P*""","=""3/2""",NaN,"=""T7771""","=""""",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7722,Ne,3,"=""36013.5""","=""""","=""36013.5""","=""2.4""","=""""","=""1.10e-03""",B,"=""642.876""",...,"=""2s2.2p4""","=""3P""","=""1""","=""2s2.2p4""","=""3P""","=""0""",M1,"=""c52""","=""L7248""",NaN
7723,Ne,4,"=""""","=""""","=""224900""","=""800""","=""""","=""1.43e-06""",C+,"=""41234.43""",...,"=""2s2.2p3""","=""2D*""","=""5/2""","=""2s2.2p3""","=""2D*""","=""3/2""",M1,"=""T569""","=""""",NaN
7724,Ne,4,"=""""","=""""","=""224900""","=""800""","=""""","=""1.1e-17""",D,"=""41234.43""",...,"=""2s2.2p3""","=""2D*""","=""5/2""","=""2s2.2p3""","=""2D*""","=""3/2""",E2,"=""T569""","=""""",NaN
7725,Ne,4,"=""""","=""""","=""1580000""","=""40000""","=""""","=""1.98e-09""",C+,"=""62434.45""",...,"=""2s2.2p3""","=""2P*""","=""1/2""","=""2s2.2p3""","=""2P*""","=""3/2""",M1,"=""T569""","=""""",NaN
7726,Ne,4,"=""""","=""""","=""1580000""","=""40000""","=""""","=""2.0e-22""",D,"=""62434.45""",...,"=""2s2.2p3""","=""2P*""","=""1/2""","=""2s2.2p3""","=""2P*""","=""3/2""",E2,"=""T569""","=""""",NaN

In [ ]:
for column  in Ne.columns:
    val = Ne[column].unique()
    print(f"Unique values in column '{column}': {val}")

In [13]:
Ne.columns.isna().sum()

np.int64(0)

In [34]:
Ne.replace({'NaN': np.nan, 'N/A': np.nan, '=""': np.nan}, inplace=True)

In [35]:
Ne

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,intens,Aki(s^-1),Acc,Ei(cm-1),...,conf_i,term_i,J_i,conf_k,term_k,J_k,Type,tp_ref,line_ref,Unnamed: 20
0,Ne,10,NaN,NaN,"=""0.936157861""","=""0.000000003""",NaN,"=""1.9731e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""6p""","=""2P*""","=""3/2""",NaN,"=""T7771""",NaN,NaN
1,Ne,10,NaN,NaN,"=""0.936169779""","=""0.000000003""",NaN,"=""1.9698e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""6p""","=""2P*""","=""1/2""",NaN,"=""T7771""",NaN,NaN
2,Ne,10,NaN,NaN,"=""0.948067037""","=""0.000000003""",NaN,"=""3.4381e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""5p""","=""2P*""","=""3/2""",NaN,"=""T7771""",NaN,NaN
3,Ne,10,NaN,NaN,"=""0.948088161""","=""0.000000003""",NaN,"=""3.4331e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""5p""","=""2P*""","=""1/2""",NaN,"=""T7771""",NaN,NaN
4,Ne,10,NaN,NaN,"=""0.970802754""","=""0.000000003""",NaN,"=""6.8198e+11""",AA,"=""0.00""",...,"=""1s""","=""2S""","=""1/2""","=""4p""","=""2P*""","=""3/2""",NaN,"=""T7771""",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7722,Ne,3,"=""36013.5""",NaN,"=""36013.5""","=""2.4""",NaN,"=""1.10e-03""",B,"=""642.876""",...,"=""2s2.2p4""","=""3P""","=""1""","=""2s2.2p4""","=""3P""","=""0""",M1,"=""c52""","=""L7248""",NaN
7723,Ne,4,NaN,NaN,"=""224900""","=""800""",NaN,"=""1.43e-06""",C+,"=""41234.43""",...,"=""2s2.2p3""","=""2D*""","=""5/2""","=""2s2.2p3""","=""2D*""","=""3/2""",M1,"=""T569""",NaN,NaN
7724,Ne,4,NaN,NaN,"=""224900""","=""800""",NaN,"=""1.1e-17""",D,"=""41234.43""",...,"=""2s2.2p3""","=""2D*""","=""5/2""","=""2s2.2p3""","=""2D*""","=""3/2""",E2,"=""T569""",NaN,NaN
7725,Ne,4,NaN,NaN,"=""1580000""","=""40000""",NaN,"=""1.98e-09""",C+,"=""62434.45""",...,"=""2s2.2p3""","=""2P*""","=""1/2""","=""2s2.2p3""","=""2P*""","=""3/2""",M1,"=""T569""",NaN,NaN
7726,Ne,4,NaN,NaN,"=""1580000""","=""40000""",NaN,"=""2.0e-22""",D,"=""62434.45""",...,"=""2s2.2p3""","=""2P*""","=""1/2""","=""2s2.2p3""","=""2P*""","=""3/2""",E2,"=""T569""",NaN,NaN

In [36]:
Ne.isna().sum()

element               0
sp_num                0
obs_wl_vac(nm)     1605
unc_obs_wl         2550
ritz_wl_vac(nm)       2
unc_ritz_wl           3
intens             1475
Aki(s^-1)          4315
Acc                4315
Ei(cm-1)              2
Ek(cm-1)              2
conf_i                2
term_i               25
J_i                 227
conf_k                2
term_k               48
J_k                 590
Type               7649
tp_ref             4315
line_ref           1436
Unnamed: 20        7727
dtype: int64